.main {
    height: 600px;
    background-color: #616161;
}

.text {
    padding-left: 30px;
}

.title {
    text-align: center;
    padding-top: 100px;
    color: #FFFFFF;
}

.title a {
    color: #2196f3
}

.trailer {
    height: 520px;
    padding: 40px;
    text-align: center;
    background-color: #E0E0E0;
}

.video {
    margin: auto;
    width: 800px;
}

.info {
    display: flex;
    justify-content: center;
    background-color: #616161;
}

.info-card.mdl-card {
    float: left;
    margin: 10px;
    width: 320px;
    height: 320px;
}

.info-card > .mdl-card__title {
    color: #fff;
    background-color: #46B6AC;
}
