* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

.navigation {
    background-color: #03A9F4;
    padding: 20px;
}

.navigation li {
    display: inline;
    padding: 16px;
}

.navigation li a {
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.text {
    font-family: 'Roboto';
    font-size: 18px;
    padding: 20px;
    width: 1000px;
}

.text p {
    padding-top: 10px;
}

.main {
    font-family: 'Roboto';
    color: #FFFFFF;
    background-color: #9E9E9E;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 400px;
}

.main h1 {
    font-size: 80px;
    font-weight: 400;
}

.main p {
    font-size: 30px;
}

.learn-more {
    padding: 10px;
    background-color: #EEEEEE;
}

.learn-more-section {
    padding: 10px;
    display: inline-block;
    width: 300px;
    background-color: #EEEEEE;
}

.learn-more-section img {
    background-color: #9F9F9F;
    width: inherit;
    height: 150px;
    display: block;
}

.learn-more-section h3 {
    background-color: #CCCCCC;
    font-family: 'Roboto';
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.learn-more-section p {
    background-color: #CCCCCC;
    font-family: 'Roboto';
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.learn-more-section a {
    color: #0288D1;
}